<html lang="en">
  <head>
    <title>Not found</title>
  </head>
  <body class="bg-slate-200">
    <p class="text-center text-2xl mt-10 font-bold">
      Sorry, this page does not exist.
    </p>
  </body>
</html>
